body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
.HightPanel {
    width: 100%;
    height: 100px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 0 20px;
    animation-duration: 1s;
    animation-name: down;
}
.container {
    width: 350px;
    height: 370px;
    position: absolute; 
    top: 300px; /* Устанавливаем расположение относительно верхней границы родительского элемента */
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    padding: 60px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    animation: fadeIn 0.5s;
    animation-duration: 2s;
    animation-name: calc;
    z-index: 1000;
}
.ChoicePanel{
    visibility: hidden;
    position: flex;
    width: 50px;
    height: 100%;
    background-color: #292828;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 0 20px;
}
.area {
    height: 70px;
    width: 360px;
    margin-right: 10px;
    margin-top: -5px;
    margin-left: -5px;
    text-align: right; 
    resize: none;
}
.buttonline1,
.buttonline2,
.buttonline3,
.buttonline4,
.buttonline5 {
    width: 60px;
    height: 40px;
    border: 0;
    margin-right: -10px; 
    margin-top: 20px;
    margin-left: 27px;
}
p.speech {
    visibility: hidden;
    position: fixed;
    right: 400px; /* Отступ от правого края окна */
    top: 110px;
    width: 310px;
    height: 135px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 35px;
    background-color: #fff;
    border: 2px solid #666;
    border-radius: 58px;
    box-shadow: 2px 2px 4px #888;
    z-index: 1000;
}
p.speech:before, p.speech:after {
    content: '';
    position: absolute;
    background-color: #fff;
    border: 2px solid #666;
}
p.speech:before {
    right: 270px; 
    top: 125px; 
    width: 40px;
    height: 40px;
    border-radius: 28px;
}
p.speech:after {
    right: 300px; 
    top: 160px; 
    width: 20px;
    height: 20px;
    border-radius: 18px;
}
.buttonChoice{
    position: flex;
    margin-right: auto;
    color: #524b4b;
    left: 1px;
    background-color: #000000;
    border: 0;
    position: relative;
    animation-duration: 1.5s;
    animation-name: slider;
}
.buttonChoice .fas{
    left: 1px;
    font-size: 40px;
}
.buttonChoice:hover {
    cursor: pointer;
}
.SimpleCalck{
    margin-top: -700px;
    margin-right: auto;
    background-color: #292828;
    left: 29px;
    size: 30px;
    border: 0;
    position: relative;
}
.SimpleCalck .fas{
    font-size: 45px; 
    margin-right: 4px;
    color: #cfcbcb;
}

.ScientificCalck{
    margin-top: -550px;
    width: 60px;
    height: 60px;
    margin-right: auto;
    background-color: #292828;
    left: -23px;
    size: 30px;
    border: 0;
    position: relative;
}
.ScientificCalck .fas{
    font-size: 40px; 
    margin-right: 4px;
    color: #cfcbcb;
}

.SimpleCalck:hover {
    cursor: pointer;
}
.ScientificCalck:hover {
    cursor: pointer;
}

.container_ScientificCalck {
    visibility: hidden;
    width: 350px;
    height: 370px;
    position: absolute; 
    top: 300px; /* Устанавливаем расположение относительно верхней границы родительского элемента */
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    padding: 60px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    animation: fadeIn 0.5s;
    animation-duration: 2s;
    animation-name: calc;
    z-index: 1000;
}

@keyframes slider {
    from{
        margin-left: 500%;
        width: 100%;
    }
    to{
        margin-left: -47%;
        width: 100%;
    }
}

@keyframes down{
    from{
        margin-top: -100px;
    }
    to{
        margin-top: 0px;
    }
}

@keyframes calc{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.rotate{
    animation-name: rot;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes rot {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
        margin-left: 70px;
    }
}

.visiblePanel{
    animation-name: left;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes left{
    from{
        margin-left: -100%;
    }
    to{
        margin-left: 0px;
    }
}