body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
.container {
    width: 350px;
    height: 370px;
    margin: 70px auto;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    animation: fadeIn 0.5s;
}
.area{
    height: 70px;
    width: 360px;
    margin-right: 10px;
    margin-top: -5px;
    margin-left: -5px;
    text-align: right; 
    resize: none;
}
.buttonline1 {
    width: 60px;
    height: 40px;
    border: 0cm;
    margin-right: -10px; 
    margin-top: 20px;
    margin-left: 27px;
}
.buttonline2 {
    width: 60px;
    height: 40px;
    border: 0cm;
    margin-right: -10px; 
    margin-top: 20px;
    margin-left: 27px;
}
.buttonline3 {
    width: 60px;
    height: 40px;
    border: 0cm;
    margin-right: -10px; 
    margin-top: 20px;
    margin-left: 27px;
}
.buttonline4 {
    width: 60px;
    height: 40px;
    border: 0cm;
    margin-right: -10px; 
    margin-top: 20px;
    margin-left: 27px;
}
.buttonline5 {
    width: 60px;
    height: 40px;
    border: 0cm;
    margin-right: -10px; 
    margin-top: 20px;
    margin-left: 27px;
}